/2022.06.15-yt-audio-downloader/*.mp3
/2022.06.15-yt-audio-downloader/*.pdf
/2022.06.15-yt-audio-downloader/Music\ logs
/2022.06.15-yt-audio-downloader/downloadList.txt

/2022.06.15-yt-video-downloader/php_course

/2022.06.16-sortedAutonomousPlane
/2022.11.17-sigma-edu
2022.11.22-google-sheet-api/**/*.json
tmp.py