[submodule "2022.06.16-sortedAutonomousPlane"]
	path = 2022.06.16-sortedAutonomousPlane
	url = git@github.com:miron-khoruzhenko/autonomous_plane.git
	branch = master
[submodule "2023.03.01-lesson-bots/2023.03.01-coop-lesson-bot"]
	path = 2023.03.01-lesson-bots/2023.03.01-coop-lesson-bot
	url = git@github.com:bahadircan-bc/AutoLecture.git
	branch = master
[submodule "2023.04.12-trading-bot"]
	path = 2023.04.12-trading-bot
	url = git@github.com:bahadircan-bc/mexc-bot.git
	branch = master
[submodule "2023.03.09-qt-creator/2023.03.28-school-cv-finished"]
	path = 2023.03.09-qt-creator/2023.03.28-school-cv-finished
	url = git@github.com:miron-khoruzhenko/qt-school-cv-project.git
	branch = master
[submodule "2023.09.18-company-seeker-bot"]
	path = 2023.09.18-company-seeker-bot
	url = git@github.com:miron-khoruzhenko/python-data-seeker.git
[submodule "2023.11.13-tailwindcss-css2class"]
	path = 2023.11.13-tailwindcss-css2class
	url = git@github.com:miron-khoruzhenko/tailwindcss-css-to-html.git
[submodule "2023.09.18-company-seeker-selenium"]
	path = 2023.09.18-company-seeker-selenium
	url = git@github.com:miron-khoruzhenko/python-data-seeker.git
